
.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: white;
  width: 72px;
  z-index:200 ; /* to hide  the line continue below the header*/
  padding-top: 5px;
}

.sidebar-link{

  height: 74px;
  margin-bottom: 1px;
  display: flex;
  flex-direction: column; /* i thought this line without seeing the solution to make the text under the sidebar icons*/
  justify-content: center;
  align-items: center;
}


.sidebar-link:hover{
  background-color: lightgray;
  cursor: pointer;
}

.sidebar img{
  height: 24px;
  margin-bottom: 4px;

}

.sidebar div{
  font-size: 10px;
  font-family: roboto, Arial;

}

/* Hide sidebar on mobile */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}


  /* Reset content area to full width when sidebar is hidden */
  .main {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
}


